src/main/mule/auth.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="63113281-d942-4929-9c17-db134c94d4bd" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="authFlow" doc:id="4e804f6d-a494-46f4-a8d2-415231bda925" >
		<http:listener doc:name="Listener" doc:id="37e6ece4-7539-4ae5-a46f-6f9d0b5e6a69" config-ref="HTTP_Listener_config" path="/test"/>
		<set-payload value='#["OK"]' doc:name="Set Payload" doc:id="fc0358e1-aceb-4846-8b39-cd1d64048dd0" />
	</flow>
</mule>
